<%- include('partials/_header.ejs') -%>
<body>
  <!-- Navigation -->
  <%- include('partials/_navigation.ejs') -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <% for(let i =0; i < Posts.length; i++) {%>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                <%=Posts[i].title %>
              </h2>
              <h3 class="post-subtitle">
                <%=Posts[i].detail %>
              </h3>
            </a>
            <p class="post-meta"><%=Posts[i].dateCreated %></p>
          </div>
          <hr>
        <% } %>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') -%>

</body>

</html>
