<%- include('partials/_header.ejs') -%>
<body>
  <!-- Navigation -->
  <%- include('partials/_navigation.ejs') -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%=Posts.title %></h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta"><%=Posts.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= Posts.detail %></p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') -%>

</body>

</html>
